<div class="container mt-4">
  <input
    type="text"
    class="form-control mb-3"
    placeholder="Rechercher par adresse"
    [(ngModel)]="searchAddress"
  />
  <hr>
  <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let residence of filteredResidences()">
      <div class="card h-100" style="width: 18rem;">
        <img
          [src]="residence.image"
          class="card-img-top"
          [alt]="residence.name"
          style="width: 100%; height: 150px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">{{ residence.name }}</h5>
          <p class="card-text">Status:
            <span *ngIf="residence.status === 'Disponible'" style="color: green;">
              Disponible
            </span>
            <span *ngIf="residence.status === 'En Construction'" style="color: orange;">
              En Construction
            </span>
            <span *ngIf="residence.status === 'Vendu'" style="color: red;">
              Vendu
            </span>
          </p>
          <button
            class="btn btn-info"
            (click)="showLocation(residence)">
            Show Location
          </button>
          <button
            class="btn btn-outline-info btn-sm ms-2"
            (click)="likeRes(residence)">
            Like
          </button>

          <!-- Use routerLink instead of href -->
          <a [href]="'/afficherApartementDeResidence/' + residence.id" class="btn btn-primary" aria-label="Voir la liste des appartements">
            Appartements List
          </a>

          <button (click)="navigateToDetails(residence.id)" class="btn btn-warning">
            Détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
